body{
    font-family: 'Open Sans', sans-serif;  
    background-image: url("img/thumb-large-Paint_Damaged-2992.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
}

.logo{
    width: 100px;
    position: fixed;
    top: 50px;
    left: 70px;
}

textarea{
    background: white;
    position: absolute;
    width: 450px;
    height: 35px;
    padding: 10px;
    left: 220px;
    top: 140px;
    font-weight: 300;
    font-size: 26px;
    border: none;
    color: #0A3871; 
    resize: vertical;
    border-radius: 20px;
}

.mostrar{
    background-image: url("img/WoodDoor-2083.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    padding: 45px 30px;
    width: 250px;
    height: 550px;
    position: absolute;
    left: 850px;
    top: 15px;
    border-radius: 30px;
    box-shadow: 5px 5px 40px 0.5px #0A3871;
    opacity: 90%;
    color: #0A3871;
}

.muñeco{
    display: absolute;
    width: 80%;
    padding: 160px 20px 20px 30px;

}

div h3{
    font-weight: bold;
    padding: 15px 40px;
    text-align: center;
}

div p{
    font-size: 12px;
    padding: 0 30px;
    text-align: center;
}

/* estilo de botones de Encriptar y desencriptar*/

.botones{
    display: block;
    position: absolute;
    left: 220px;
    top: 500px;
}

.botones label{
    display: block;
    font-size: 12px;
    margin: 0 0 10px 0;
    color: white;
}

.encriptar{
    margin: 0 15px 0 0;
    width: 258px;
    background: #0A3871;
    color: white;
}

.encriptar, .desencriptar{
    padding: 20px 0;
    font-size: 16px;
    border: none;
    border-radius: 20px;
}

.encriptar:hover, .copiar:hover{
    transform: scale(1.02);
    cursor: pointer;
}

.desencriptar{
    width: 250px;
    position: fixed;
    border-color: #0A3871;
    color: #0A3871;
}

.desencriptar:hover{
    transform: scale(1.02);
    cursor: pointer;
}

/* Boton copiar*/

.copiar {
    display: none;
    margin: 10px 0 25px 423px;
    width: 200px;
    padding: 10px 0;
    position: fixed;
    background: #0A3871;
    border-radius: 20px;
    color: white;
    border: none;
}

/* posicion y estilo de nube que muestra mensaje*/

.copiar .copy-text{
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 2;
    bottom: 115%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

/* posicion de la flecha de la nube*/

.copiar .copy-text::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.copiar:hover .copy-text{
    visibility: visible;
    opacity: 1;
}