body{
    font-family: 'Open Sans', sans-serif;  
    background: url("img/thumb-large-Paint_Damaged-2992.jpeg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.logo{
    width: 100px;
    position: fixed;
    top: 50px;
    left: 70px;
}

textarea{
    background: white;
    position: absolute;
    width: 450px;
    height: 35px;
    padding: 10px;
    left: 220px;
    top: 140px;
    font-weight: 300;
    font-size: 26px;
    border: none;
    color: #0A3871; 
    resize: vertical;
    border-radius: 20px;
}

.mostrar{
    padding: 20px 30px;
    width: 250px;
    height: 550px;
    position: absolute;
    left: 850px;
    top: 40px;
    border-radius: 30px;
    box-shadow: 5px 5px 10% 1px #0A3871;
    opacity: 90%;
    background: white;
    color: #0A3871;
}

.muñeco{
    display: absolute;
    width: 80%;
    padding: 100px 20px 20px 30px;

}

div h3{
    font-weight: bold;
    padding: 15px 40px;
    text-align: center;
}

div p{
    font-size: 12px;
    padding: 0 30px;
    text-align: center;
}

/* estilo de botones de Encriptar y desencriptar*/

.botones{
    display: block;
    position: absolute;
    left: 220px;
    top: 500px;
}

.botones label{
    display: block;
    font-size: 12px;
    margin: 0 0 10px 0;
    color: white;
}

.encriptar{
    margin: 0 15px 0 0;
    width: 258px;
    background: #0A3871;
    color: white;
}

.encriptar, .desencriptar{
    padding: 20px 0;
    font-size: 16px;
    border: none;
    border-radius: 20px;
}

.encriptar:hover, .copiar:hover{
    transform: scale(1.02);
    cursor: pointer;
}

.desencriptar{
    width: 258px;
    position: fixed;
    border-color: #0A3871;
    color: #0A3871;
}

.desencriptar:hover{
    transform: scale(1.02);
    cursor: pointer;
}

/* Boton copiar*/

.copiar {
    display: none;
    margin: 10px 0 25px 415px;
    width: 200px;
    padding: 10px 0;
    position: fixed;
    background: #0A3871;
    border-radius: 20px;
    color: white;
    border: none;
}

/* posicion y estilo de nube que muestra mensaje*/

.copiar .copy-text{
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 2;
    bottom: 115%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

/* posicion de la flecha de la nube*/

.copiar .copy-text::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.copiar:hover .copy-text{
    visibility: visible;
    opacity: 1;
}

/* Style Phone */

@media screen and (max-width:480px){
    body{
        font-family: 'Open Sans', sans-serif;  
        position: fixed;
        background: url("img/thumb-large-Paint_Damaged-2992.jpeg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
    }

    textarea, .logo, .mostrar{
        position: inherit;
    }

    textarea{
        display: grid;
        width: 350px;
        height: 80px;
        margin-left: 10px;
    }

    .muñeco{
        display: none;
    }

    .mostrar{
        height: 280px;
        width: 290px;
        margin: 20px 20px 0;
        font-size: 24px;
    }

    div h3{
        margin-top: 15  px;
        font-size: 16px;
    }

    div p{
        font-size: 12px;
    }

    .botones label{
        position: relative;
        padding-top: 20px;
        padding-left: 35px;
        color: white;
        width: 350px;
        margin-left: 30px 30px;
    }

    .botones{
        position: inherit;
        width: 100px;
        color: black;   
    }

    .btn{
        margin: 0 50px;
        padding: 25px;
    }

    .desencriptar{
        margin-top: 5px;
    }

    .copiar{
        position: inherit;
        margin: 70px 30px;
        padding: 20px;
    }


}